.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.review-btn {
  border-radius: 4px;
  background: #f90;
  margin-top: 10px;
  width: 92%;
}
.pagination {
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  padding-left: 39%;
}

.link {
  padding: 10px;
}
.btn-01 {
  background-color: rgb(224, 221, 221);

  color: black;
}

.btn-01 :hover {
  background-color: skyblue;
}

.okk {
  text-align: center;
}
