.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.review-btn {
  border-radius: 4px;
  background: #f90;
  margin-top: 10px;
  width: 92%;
}
.pagination {
  width: 50%;
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  padding-left: 28%;
}
.pagination button {
  background-color: #f90;
  border: 1px solid rgb(245, 231, 34);
  margin-right: 4px;
}

.pagination button:hover {
  background-color: rgb(218, 199, 32);
  color: black;
}

.okk {
  text-align: center;
  font: bold;
}
